.App{
  min-height: 100vh;
  /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */
  background: #ccc;
}

.search-form{
  min-height:10vh ;
  display: flex ;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width : 50%;
  border :none;
  padding:10px ; 
  margin: 5px;

}

.search-button{
  background: #6aa5d9 ;
  border: none;
  padding : 10px 20px;
  color : #fff;
  font-size: 14px;
  font-weight: 600;
}

.recipes{
  display:flex;
  justify-content:space-around;
  flex-wrap: wrap;
}